

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
<<<<<<< HEAD
    font-family: "Roboto", sans-serif;
}
body
{
    background-color:lightcyan;
=======
=======
>>>>>>> f2
    font-family: "Courier new", sans-serif;
}
body
{
    background-color:red;
<<<<<<< HEAD
>>>>>>> f2
=======
>>>>>>> f2
}
main
{
    margin:1rem;
    display:grid;
   grid-template-columns:33% 1fr;
   
}
.personal,.skills,.language{
   line-height:2;
}
.internship,.education
{
    padding:2rem;
    line-height:2;
}

.left
{
    background-color:lavender;
}
}
.left-image
{
    position:relative;

}
.left-image h2
{
    position:absolute;
    bottom:0;
    left:1rem 
}
.education ul,.internship ul
{
    margin:1rem;
    
}
.education ul
{
    margin-top:2rem;
}
.education {
    background-color: aquamarine;
}
.internship{
    background-color:thistle;
}
